/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html, body, [class*="css"]{
    font-family: 'Poppins', sans-serif;
}

/* Main Background */
.stApp{
background: linear-gradient(135deg,#0F172A,#1E293B,#0F766E);
background-attachment:fixed;
}

/* Header */
.header{
padding:25px;
border-radius:20px;
background:linear-gradient(90deg,#2563EB,#06B6D4);
text-align:center;
color:white;
box-shadow:0 8px 25px rgba(0,0,0,.35);
margin-bottom:25px;
}

/* Glass Cards */
.glass{
background:rgba(255,255,255,.08);
backdrop-filter:blur(18px);
border:1px solid rgba(255,255,255,.2);
border-radius:20px;
padding:20px;
box-shadow:0 8px 25px rgba(0,0,0,.25);
margin-bottom:20px;
color:white;
}

/* Sidebar */
[data-testid="stSidebar"]{
background:#111827;
}

/* Buttons */
.stButton>button{
background:linear-gradient(90deg,#2563EB,#06B6D4);
color:white;
border:none;
border-radius:12px;
padding:12px 20px;
font-weight:600;
transition:.3s;
}

.stButton>button:hover{
transform:translateY(-3px);
box-shadow:0 10px 25px rgba(0,0,0,.35);
}

/* Textbox */
textarea{
border-radius:15px!important;
}

/* Metrics */
[data-testid="metric-container"]{
background:rgba(255,255,255,.10);
backdrop-filter:blur(15px);
padding:15px;
border-radius:18px;
border:1px solid rgba(255,255,255,.2);
box-shadow:0 5px 15px rgba(0,0,0,.25);
}

/* Progress Bar */
.stProgress > div > div > div{
background:linear-gradient(90deg,#2563EB,#06B6D4);
}

/* Expander */
.streamlit-expanderHeader{
font-weight:600;
}
[data-testid="metric-container"]{
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.15);
    border-radius:15px;
    padding:12px;
}

[data-testid="metric-container"] label{
    color:white !important;
}

[data-testid="metric-container"] div{
    color:white !important;
}